@import "tailwindcss";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

header {
  background: #F1F5F9;
}

body {
  background: #F1F5F9;
  font-family: 'NanumSquare', sans-serif;
}