@import "tailwindcss";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

header {
  background: #F1F5F9;
}

body {
  background: #E2E8F0;
  font-family: 'NanumSquare', sans-serif;
}

form {
  background: #F1F5F9
}

html.dark body {
  color: rgb(197, 196, 196);
  background-color: rgb(17, 19, 27);
  margin-bottom: 100px;
}

html.dark header {
  color: rgb(197, 196, 196);
  background-color: rgb(17, 19, 27);
}

html.dark form {
  background: #1E293B
}